@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-dark: #4A0F37;
  --color-light: #FFA7E2;
}

@font-face {
  font-family: "Howdybun";
  src: url("/fonts/Howdybun.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

.howdybun {
  font-family: Howdybun;
}